<!doctype html>
<html lang="en">
  <head>
    <%- include ('./partials/head', {title : 'Home'}) %>
  </head>
  <body>
    <%- include ('./partials/script') %>
    <%- include ('./partials/nav') %>
  </body>
</html>