<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head', {title : 'Login'}) %>
  </head>
  <body>
    <%- include ('./partials/script') %>
    <% if (locals.error) { %>
        <div class="alert-container">
            <div class="alert alert-danger" role="alert">
                <%= locals.error %>
            </div>
        </div>
    <% } %>
    <div class="container mx-50">
        <h3 style="text-align: center; margin-bottom: 10px; margin-top: 30px;">Login to Y|OG</h3>
        <div style="text-align: center; margin-bottom: 35px;">
            Don't have an account? <a href="/user/signup" style="text-align: center;"> Sign up </a>
        </div>
        <form action="/user/signin" method="post">

            <div class="my-3">
                <label
                    for="email"
                    class="form-label">
                        Email address
                </label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    aria-describedby="emailHelp"
                    required
                />
            </div>

            <div class="mb-3">
                <label
                    for="password"
                    class="form-label">
                        Password
                </label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                />
            </div>

            <button type="submit" class="btn btn-success">
                Login
            </button>

        </form>
    </div>
  </body>
</html>
