<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head', {title : 'Signup'}) %>
  </head>
  <body>
    <%- include ('./partials/script') %>
    <div class="container mx-50" >
        <h3 style="text-align: center; margin-bottom: 10px; margin-top: 30px;">Signup to Y|OG</h3>
        <div style="text-align: center; margin-bottom: 35px;">
            Have an account? <a href="/user/signin" style="text-align: center;"> Login </a>
        </div>

        <form action="/user/signup" method="post">
            <div class="my-3">
                <label
                    for="fullName"
                    class="form-label">
                        Full Name
                </label>
                <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    aria-describedby="nameHelp"
                    required
                />
            </div>
            <div class="mb-3">
                <label
                    for="email"
                    class="form-label">
                        Email address
                </label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    aria-describedby="emailHelp"
                    required
                />
                <div id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="password"
                    class="form-label">
                        Password
                </label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                />
            </div>
            <button type="submit" class="btn btn-success">
                Sign Up
            </button>
        </form>
    </div>
  </body>
</html>
